language: generic
sudo: required

services:
  - docker

before_install:
  - docker build -t diksha/docker-react-transci-aws -f Dockerfile.dev .

script:
  - docker run -e CI=true diksha/docker-react-transci-aws npm run test 

deploy:
  provider: elasticbeanstalk
  region: "ap-south-1"
  app: "docker"
  env: "Docker-env"
  bucket_name: "travis-ci-aws-bucket"
  bucket_path: "docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY"
